.i{
    display: flex;
    height: 100vh;
}
.i-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-left-wrapper{
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.i-intro{
    font-size: 30px;
    font-weight: 300px;
    
}
.i-name{
    font-size: 60px;
    
}
.i-title{
    height: 50px;
    overflow: hidden;
    margin: 15px;
    
}
.i-title-wrapper{
    height: 100%;
    animation: move 12s ease-in-out infinite alternate;
}
@keyframes move {
    25%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(-150px);
    }
    100%{
        transform: translateY(-200px);
    }
}
.i-title-item{
    height: 50px;
    font-style: 30px;
    font-weight: bold;
    /* color: #FFBB5E; */
    color: #6998ab;
    display: flex;
    align-items: center;
    
}
.a-resume {
    color: white;
    text-decoration: none;
}
.i-img{
    width: 100%;
    height: 80%;
    object-fit: contain;
    position: absolute;
    padding: 50px;
    
}
.i-bg{
    clip-path: polygon(100% 0%, 100% 52%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
    background-color: #6998ab;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.t-title {
    font-size: 60px;
    width: 80%;
}
@media screen and (max-width: 480px){
    .i {
        flex-direction: column;
    }
    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        height: 100%;
    }
    .i-img{
        display: none;
    }
}

.resume-btn {
   background-color: #406882;
   padding: 10px;
   border-radius: 10px;
   
}
.resume-btn:hover{
    background-color: rgb(83, 223, 236);
    color: black;

}

.contact-btn {
    background-color: #406882;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: white;
    
}
.contact-btn:hover {
    background-color: rgb(83, 223, 236);
    

}
.home-buttons {
    margin: 10px;
    
}
